.answerOpt{
  flex: content;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(26, 137, 228, 0.7);
  border-radius: 5%;
  color: rgb(2, 21, 61);
  text-align: center;
  margin: 2%;
  font-size: 100%;
}
#startBtn{
  margin-top: 30%;
  border: 1px solid rgba(26, 137, 228, 0.7);
  background: #eeeeee;
  color: #095886;
}
#reset{
  margin-top: 30%;
  border: 1px solid rgba(26, 137, 228, 0.7);
  background: #eeeeee;
  color: #095886;
}
img {
  height: 30%;
  width: 30%;
  margin-top: 10%;
  border-radius: 5%;
}
#answerArea {
  text-align: center;
  width: 40%;
}
#questionArea {
  text-align: center;
  font-weight: bold;
}
#reset {
  visibility: visible;
}
body {
  background-image: url("../../../unit-4-game/assets/images/Kitty_Background.jpg");
  background-size: cover;
}
h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}
p {
  margin: 10px;
  font-weight: bold;
  color: rgb(2, 21, 61);
  font-size: 20px;
}
h2, h4 {
  margin: 30px;
  font-weight: bold;
}
.wrapper {
  margin: 10px auto;
  background-color: rgba(195, 221, 255, 0.5);
  border: 2px solid rgba(26, 137, 228, 0.7);
  border-radius: 5%;
  height: 100%;
  width: 60%;
  text-align: center;
}
.btn {
  position: relative;
  margin-bottom: 20%;
}