#startBtn, #reset{
    margin-top: 30%;
    border: 1px solid rgba(26, 137, 228, 0.7);
    background: #eeeeee;
    color: #095886;
}
.answerOpt{
  flex: content;
  background: rgb(255, 255, 255);
  border: 2px solid rgba(26, 137, 228, 0.7);
  border-radius: 5%;
  color: rgb(2, 21, 61);
  text-align: center;
  margin: 2%;
  font-size: 100%;
}
img {
  height: 40%;
  width: 40%;
  margin-top: 10%;
  border-radius: 5%;
}
questions.img2{
    
}
#answerArea {
  text-align: center;
  width: 40%;
}
#questionArea {
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 2px 3px #818181;
}
#reset {
  visibility: visible;
}
body {
  background-image: url("../../../TriviaGame/assets/images/TG_Cover_2.jpg");
  background-size: 97%;
}
p {
  font-weight: bold;
  font-size: 20px;
  text-align: start;
  text-shadow: 0px 2px 3px #818181;
}
h1, h2, h3 {
  font-weight: bold;
  text-shadow: 0px 2px 3px #818181;
  text-align: center;
}
.wrapper {
  margin: 10px auto;
  background-color: rgba(195, 221, 255, 0.5);
  border: 2px solid rgba(26, 137, 228, 0.7);
  border-radius: 5%;
  height: 100%;
  width: 60%;
  text-align: center;
}
.btn {
  position: relative;
  margin-bottom: 20%;
}
